{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Packages</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/travel.css' %}">

    <!-- <link rel="stylesheet" href="travel.css">
    <script src="travellpac.js" defer></script> -->
</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="tour.html">Home</a></li>
            <li><a href="#packages">Customizable Packages</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

    <!-- Home Section -->
    <section id="home" class="home">
        <div class="bgimg">
        <img src="{% static 'images/pookhara.jpg' %}" alt="">
        </div>
        <h1>Welcome to Travel Packages</h1>
        <p>Explore the best travel packages we have to offer.</p>
    </section>

    <!-- Packages Section -->
    <section id="packages">

        <h2>Our Packages</h2>

        <div class="package-wrapper">
            <div class="package">
                <h3>Lakes Paradise</h3>
                <div class="img-container">
                    <img src=" {% static 'images/POKHARA.jpeg' %}">
                </div>
                <p>Enjoy a relaxing time on the lakes.</p>
                <h2>Pokhara</h2>
                <a href="#">Hotel malarani</a>
                <p>4 days</p>
                <p> 2 adults </p>
                <p>Rs 8000 per person</p>
                <div class="rating" data-rating="0">
                    <span data-value="5">&#9733;</span>
                    <span data-value="4">&#9733;</span>
                    <span data-value="3">&#9733;</span>
                    <span data-value="2">&#9733;</span>
                    <span data-value="1">&#9733;</span>
                </div>

                <a href="#" class="book-now-button">Book Now</a>
                <a href="#" class="book-now-button">Customize this package</a>

            </div>

            <div class="package">
                <h3>Lakes Paradise</h3>
                <div class="img-container">
                    <img src=" {% static 'images/POKHARA.jpeg' %} ">
                </div>
                <p>Enjoy a relaxing time on the lakes.</p>
                <h2>Pokhara</h2>
                <a href="#">Hotel malarani</a>
                <p>4 days</p>
                <p> 2 adults </p>
                <p>Rs 8000 per person</p>
                <div class="rating" data-rating="0">
                    <span data-value="5">&#9733;</span>
                    <span data-value="4">&#9733;</span>
                    <span data-value="3">&#9733;</span>
                    <span data-value="2">&#9733;</span>
                    <span data-value="1">&#9733;</span>
                </div>

                <a href="#" class="book-now-button">Book Now</a>
                <a href="#" class="book-now-button">Customize this package</a>

            </div>

            <div class="package">
                <h3>Lakes Paradise</h3>
                <div class="img-container">
                    <img src=" {% static 'images/POKHARA.jpeg' %} ">
                </div>
                <p>Enjoy a relaxing time on the lakes.</p>
                <h2>Pokhara</h2>
                <a href="#">Hotel malarani</a>
                <p>4 days</p>
                <p> 2 adults </p>
                <p>Rs 8000 per person</p>
                <div class="rating" data-rating="0">
                    <span data-value="5">&#9733;</span>
                    <span data-value="4">&#9733;</span>
                    <span data-value="3">&#9733;</span>
                    <span data-value="2">&#9733;</span>
                    <span data-value="1">&#9733;</span>
                </div>

                <a href="#" class="book-now-button">Book Now</a>
                <a href="#" class="book-now-button">Customize this package</a>

            </div>

            <div class="package">
                <h3>Lakes Paradise</h3>
                <div class="img-container">
                    <img src=" {% static 'images/POKHARA.jpeg' %} ">
                </div>
                <p>Enjoy a relaxing time on the lakes.</p>
                <h2>Pokhara</h2>
                <a href="#">Hotel malarani</a>
                <p>4 days</p>
                <p> 2 adults </p>
                <p>Rs 8000 per person</p>
                <div class="rating" data-rating="0">
                    <span data-value="5">&#9733;</span>
                    <span data-value="4">&#9733;</span>
                    <span data-value="3">&#9733;</span>
                    <span data-value="2">&#9733;</span>
                    <span data-value="1">&#9733;</span>
                </div>

                <a href="#" class="book-now-button">Book Now</a>
                <a href="#" class="book-now-button">Customize this package</a>

            </div>
        </div>



    </section>

    <!-- Contact Section -->
    <section id="contact">
        <h2>Contact Us</h2>
        <p>Email: yatra37@GMAIL.COM</p>
        <p>Phone: 98000000</p>
    </section>
</body>

</html>